<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <layout class="org.mcdealer.mcdealer.org.mcdealer.mcdealer.Utils.LoggerColor" />
        </encoder>
    </appender>

    <logger name="org.eclipse.jetty" level="OFF"/>
    <logger name="org.eclipse.jetty.util.log" level="OFF"/>

    <root level="debug">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>